extends adminLayout

block head
  style.
    .btn-group-actions {padding-top: 50px}
    .btn-group-actions button {margin: 5px 30px}
    .nav-tabs li a { font-weight: bold}

block content
  hr
  div.row
    div.col-xs-6.col-md-2
      div.tabs-left
        ul.nav.nav-tabs.nav-stacked
          li.active
            a(id="btn-versions", href="#tab0", data-toggle="tab") 版本号管理
          li
            a(id="btn-servers", href="#tab1", data-toggle="tab") 服务器
          li 
            a(id="btn-areas", href="#tab2", data-toggle="tab") 区服管理
          li 
            a(id="btn-white-list", href="#tab3", data-toggle="tab") 白名单
    
    div.col-xs-12.col-md-10
      div.tab-content
        div.tab-pane.active(id="tab0")
          div(class='panel panel-default')
     
            - each v, k in version
            
              div(class='panel-heading')
                strong #{k} 平台版本
                span(class='pull-right')
                  a(href='http://www.ksyun.com/product/ks3' target='blank') 金山云存储
              div(class='panel-body')
                div(class='col-md-9')

                  form(class='form-horizontal', role='form',  action="/admin/version", method='POST')
                    div(class='form-group')
                      lable(for='#{k}_version', class='col-sm-2 control-label') 当前版本
                      div(class='col-sm-4')
                        input(type='text', class='form-control', name='#{k}_version', value='#{v.version}')
                      
                      lable(for='#{k}_lastVersion', class='col-sm-2 control-label') 上一版本
                      div(class='col-sm-4')
                        input(type='text', class='form-control', name='#{k}_lastVersion', value='#{v.lastVersion}')
                    div(class='form-group')
                      lable(for='#{k}_oldestVersion', class='col-sm-2 control-label') 最老版本
                      div(class='col-sm-4')
                        input(type='text', class='form-control', name='#{k}_oldestVersion', value='#{v.oldestVersion}')
                    
                      lable(for='#{k}_forceUpdateVersion', class='col-sm-2 control-label') 强制更新版本
                      div(class='col-sm-4')
                        input(type='text', class='form-control', name='#{k}_forceUpdateVersion', value='#{v.forceUpdateVersion}')

                    hr
                    div(class='form-group')
                      lable(for='#{k}_filename', class='col-sm-2 control-label') 部分更新包
                      div(class='col-sm-4')
                        input(type='text', class='form-control', name='#{k}_filename', value='#{v.filename}' required)
                      lable(for='#{k}_lastFilename', class='col-sm-2 control-label') 全部更新包
                      div(class='col-sm-4')
                        input(type='text', class='form-control', name='#{k}_lastFilename', value='#{v.lastFilename}')
                    div(class='form-group')
                      div(class='col-sm-offset-2 col-sm-2')
                        button(type='submit', class='btn btn-default btn-block btn-lg') 更新

                div(class='col-md-3')
                  a(class='btn btn-primary btn-block', href='/api/#{k}/update/1.0.0') Download #{v.filename}
                  a(class='btn btn-primary btn-block', href='/api/#{k}/update/#{v.lastVersion}') Download #{v.lastFilename}

        div.tab-pane(id='tab1')
          div.btn-group-actions.text-center
            button.btn.btn-success.btn-lg(type='button', id="btn-restart")
              span.glyphicon.glyphicon-refresh 
              span 重启
            button.btn.btn-primary.btn-lg(type='button', id="btn-start")
              span.glyphicon.glyphicon-play 
              span 启动
            button.btn.btn-warning.btn-lg(type='button', id="btn-stop")
              span.glyphicon.glyphicon-stop 
              span 停止
            button.btn.btn-danger.btn-lg(type='button', id="btn-stop-force")
              span.glyphicon.glyphicon-stop 
              span 强制停止
      
        div.tab-pane(id='tab2')
          div(id='editor') #{areas}
          div(class='row', style="margin-top: 20px")
            div(class='col-md-8 text-right', style='line-height: 45px')
              span(id='res-msg')
            div(class='col-md-4')
              input(id='save', type='button', class='btn btn-primary btn-lg btn-block' value='保存')  
      
        div.tab-pane(id='tab3')
          nav.navbar.navbar-default(role='navigation')
            strong(style='margin-left: 20px') 当前状态：
              button.btn.btn-danger.navbar-btn(id='btn-white-list-enable', type='button') 

            form.navbar-form.navbar-right(role='search')
              div.form-group
                input.form-control(id='playername', name='name' type='text', placeholder='玩家名称')
              
              button.btn.btn-default(id='btn-add-white-list', type='submit', style='margin: 0 20px') 添加

          ul.list-group(id='whitelist')          

  div.cmd-results.alert

block footer
  script(type='text/javascript', src='/js/ace/ace.js')
  script(type='text/javascript', src='/js/serverManager.js')