<%- include header %>

     <div class="form-inline span5">
        <fieldset>
            <legend><%=areaName%>:<%=playerName%>拥有的卡牌
            <button type="button" class="btn btn-primary" id = "btnAddCard">添加卡牌</button>
            </legend>
            <div >
                <table class = "table table-bordered" id = "cardsList">
                    <tr id = "th">
                        <th>卡牌ID</th><th>卡牌等级</th><th>技能等级</th><th>消耗仙丹</th><th>星级</th><th>被动技能1</th><th>被动技能2</th><th>被动技能3</th><th></th><th></th>
                    </tr>
                </table>
            </div>
        </fieldset>
        <div class="page_btn clear">
                   <span class="page_box">
                       <a href = "javascript:void(0)" class="page_first">首页</a>
                       <a href = "javascript:void(0)" class="prev">上一页</a>
                       <span class="num">
                       <span class="current_page">1</span>
                       <span style="padding:0 3px;">/</span>
                       <span class="total"></span></span>
                       <a href = "javascript:void(0)" class="next">下一页</a>
                       <a href = "javascript:void(0)" class="page_last">末页</a>
                   </span>
               </div>

     </div>

     <form  id = "cardShow" class="form-inline span5" method = "post">
        <fieldset>
            <legend>卡牌操作</legend>
            <div >

                 <div id = "card" class="form-inline span3">
                    <div class="control-group">
                        <label class="control-label" for="id">卡牌ID:</label>
                        <input type="text" class="input-small" id="id" name="id" disabled = "disabled">
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="lv">卡牌等级:</label>
                        <input type="text" class="input-small" id="lv" name="lv">
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="skillLv">技能等级:</label>
                        <input type="text" class="input-small" id="skillLv" name="skillLv" ">
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="elixir">消耗仙丹:</label>
                        <input type="text" class="input-small" id="elixir" name="elixir">
                    </div>

                 </div>

                 <div class="form-inline span5">
                       <div class="control-group">
                          <label for="star">星级:</label>
                          <select id="starList" class="form-control input-small" name="star">
                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option value = "5">5</option>

                          </select>

                       </div>

                    <div class="control-group">
                          <label id = "skill1" for="skill1" value = "" >被动技能1:</label>
                          <select id="skill1Name" class="form-control input-small" name="passSkill">
                                <option value = ""></option>
                                <option value = "hp_improve">提升血量</option>
                                <option value = "atk_improve">提升攻击</option>
                                <option value = "dodge">闪避</option>
                                <option value = "crit">暴击</option>
                                <option value = "dmg_reduce">减伤</option>
                          </select>
                          <input type="text" class="input-small" id="skill1Value" name="passSkill">

                     </div>

                 <div class="control-group">
                          <label id = "skill2" for="skill2" value = "">被动技能2:</label>
                          <select id="skill2Name" class="form-control input-small" name="passSkill">
                                <option value = ""></option>
                                <option value = "hp_improve">提升血量</option>
                                <option value = "atk_improve">提升攻击</option>
                                <option value = "dodge">闪避</option>
                                <option value = "crit">暴击</option>
                                <option value = "dmg_reduce">减伤</option>
                          </select>
                          <input type="text" class="input-small" id="skill2Value" name="passSkill">

                 </div>

                 <div class="control-group" value = "">
                          <label id = "skill3" for="skill3" value = "">被动技能3:</label>
                          <select id="skill3Name" class="form-control input-small" name="passSkill">
                                <option value = ""></option>
                                <option value = "hp_improve">提升血量</option>
                                <option value = "atk_improve">提升攻击</option>
                                <option value = "dodge">闪避</option>
                                <option value = "crit">暴击</option>
                                <option value = "dmg_reduce">减伤</option>
                          </select>
                          <input type="text" class="input-small" id="skill3Value" name="passSkill">
                 </div>
                 </div>
            </div>
            <div  class="form-inline span5">
                 <button type="button" class="btn btn-primary" id = "btnOK" >确定</button>
                 <button type="button" class="btn btn-primary" id = "btnReset" >重置</button>

            </div>
        </fieldset>
     </form>

     <script src="/javascripts/cards.js"></script>

     <script type="text/javascript">
          setCards(<%- JSON.stringify(cards) %>);
          setPlayerId(<%= playerId %>);
     </script>

<%- include footer %>