<%- include header %>

     <div class="form-inline span7">
        <fieldset>
            <legend><%=area["name"]%>:<%=player["name"]%>拥有的卡牌
            <button type="button" class="btn btn-primary" id = "btnAddCard">添加卡牌</button>
            </legend>
            <div >
                <table class = "table table-bordered table-hover" id = "cardsList">
                    <thead id = "th">
                        <th>卡牌名字</th><th>卡牌等级</th><th>技能等级</th><th>消耗生命仙丹</th><th>消耗攻击仙丹</th><th>星级</th><th>被动技能1</th><th>被动技能2</th><th>被动技能3</th><th>站位</th><th></th><th></th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <div class="page_btn clear">
                   <span class="page_box">
                       <a href = "javascript:void(0)" class="page_first">首页</a>
                       <a href = "javascript:void(0)" class="prev">上一页</a>
                       <span class="num">
                       <input type = "text" class="input-lmini current_page">
                       <span style="padding:0 3px;">/</span>
                       <span class="total"></span></span>
                       <a href = "javascript:void(0)" class="next">下一页</a>
                       <a href = "javascript:void(0)" class="page_last">末页</a>
                   </span>
        </div>

     </div>

     <form  id = "cardShow" class="form-inline span3" method = "post">
        <fieldset>
            <legend id = "operateName"></legend>

                 <div id = "card" class="form-group">
                    <div class="control-group" id = "divCardId">
                        <label class="control-label" for="id">卡牌ID:</label>
                        <input type="text" class="input-small" id="id" name="id" disabled = "disabled" >
                    </div>

                    <div class="control-group" id = "divCardName">
                        <label class="control-label" for="id">卡牌名字:</label>
                        <input type="text" class="input-middle" id="name" name="name" disabled = "disabled">
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="lv">卡牌等级:</label>
                        <input type="text" class="input-small" id="lv" name="lv">
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="skillLv">技能等级:</label>
                        <input type="text" class="input-small" id="skillLv" name="skillLv">
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="elixirHp">消耗生命仙丹:</label>
                        <input type="text" class="input-small" id="elixirHp" name="elixirHp">
                    </div>

                    <div class="control-group">
                         <label class="control-label" for="elixirAtk">消耗攻击仙丹:</label>
                         <input type="text" class="input-small" id="elixirAtk" name="elixirAtk">
                     </div>
                    <div class="control-group" id="divTableId">
                         <label class="control-label" for="tableId">配置表ID:</label>
                         <input type="text" class="input-small" id="tableId" name="tableId">
                    </div>
                 </div>

                 <div class="form-group">
                       <div class="control-group">
                          <label for="star">星级:</label>
                          <select id="starList" class="form-control input-small" name="star">
                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option value = "5">5</option>
                                <option value = "6">6</option>
                                <option value = "7">7</option>

                          </select>

                       </div>

                        <div class="control-group">
                              <label id = "skill1" for="skill1" value = "" >被动技能1:</label>
                              <select id="skill1Name" class="form-control input-small" name="passSkill">
                                    <option value = ""></option>
                                    <option value = "hp_improve">提升血量</option>
                                    <option value = "atk_improve">提升攻击</option>
                                    <option value = "dodge">闪避</option>
                                    <option value = "crit">暴击</option>
                                    <option value = "dmg_reduce">减伤</option>
                              </select>
                              <input type="text" class="input-small" id="skill1Value" name="passSkill">

                         </div>

                         <div class="control-group">
                                  <label id = "skill2" for="skill2" value = "">被动技能2:</label>
                                  <select id="skill2Name" class="form-control input-small" name="passSkill">
                                        <option value = ""></option>
                                        <option value = "hp_improve">提升血量</option>
                                        <option value = "atk_improve">提升攻击</option>
                                        <option value = "dodge">闪避</option>
                                        <option value = "crit">暴击</option>
                                        <option value = "dmg_reduce">减伤</option>
                                  </select>
                                  <input type="text" class="input-small" id="skill2Value" name="passSkill">

                         </div>

                         <div class="control-group" value = "">
                                  <label id = "skill3" for="skill3" value = "">被动技能3:</label>
                                  <select id="skill3Name" class="form-control input-small" name="passSkill">
                                        <option value = ""></option>
                                        <option value = "hp_improve">提升血量</option>
                                        <option value = "atk_improve">提升攻击</option>
                                        <option value = "dodge">闪避</option>
                                        <option value = "crit">暴击</option>
                                        <option value = "dmg_reduce">减伤</option>
                                  </select>
                                  <input type="text" class="input-small" id="skill3Value" name="passSkill">
                         </div>
                 </div>

                 <div class="from-group">
                     <div class="control-group" id="divPos">
                         <label class="control-label" for="pos">站位:</label>
                         <input type="text" class="input-small" id="pos" name="pos">
                     </div>
                 </div>

                <div class = "form-group">
                     <button type="button" class="btn btn-primary" id = "btnOK" >确定</button>
                     <button type="button" class="btn btn-primary" id = "btnReset" >重置</button>
                </div>

                 <div class="alert" id = "tip">

                 </div>

        </fieldset>

     </form>

     <script src="/javascripts/pagination.js"></script>
     <script src="/javascripts/cards.js"></script>

     <script type="text/javascript">

          setPlayer(<%- JSON.stringify(player) %>);
     </script>

<%- include footer %>