<%- include header %>
    <form class="form-inline span5" role="form" >
         <fieldset>
                 <legend><%=area["name"] %>:<%= player["name"]%>的竞技排名</legend>
                 <div id = "divRank">
                   <div class="control-group">
                        <label class="control-label" for="ranking">排名:</label>
                        <input type="text" class="input-small" id="ranking" name="ranking" >
                   </div>
                    <button type="button" id = "btnUpdate" class="btn btn-primary">确定</button>
                    <button type="button" id = "btnReset" class="btn btn-primary">重置</button>
                </div>
         </fieldset>

          <div class="alert" id = "tip">

          </div>
    </from>

    <script src = "/javascripts/rank.js"></script>
    <script>
        setData(<%-JSON.stringify(player)%>,<%-JSON.stringify(rank)%>) ;
    </script>
<%- include footer %>