doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type='text/javascript', src='/js/jquery-1.10.2.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/util.js')
    script(type='text/javascript', src='/js/common.js')
    block head
  body
    div(class='container')
      nav(class='navbar navbar-default', role='navigation')
        div(class='navbar-header')
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#nb-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .dropdown
            a#platformName.dropdown-toggle.navbar-brand(data-toggle='dropdown' href='/')
              span LeasureGame
              b.caret
            ul.dropdown-menu(style="top:50px")
              li
                a(href='http://125.90.93.74:9090', target='_blank') YY大神
              li
                a(href='http://115.29.12.178:9090', target='_blank') 越狱平台
              li
                a(href='http://115.29.243.80:9090', target='_blank') AppStore平台
        div(class='collapse navbar-collapse', id='nb-collapse')
          ul(class='nav navbar-nav')
            if user && user.prvlg_lv === 1
                li(class=menu=='notice' ? 'active':'')
                  a(href='/admin/notice') 公告管理
                li(class=menu=='cdkey' ? 'active':'')
                  a(href='/admin/cdkey') 激活码
                li(class=menu=='msgPush' ? 'active':'')
                  a(href='/admin/msgPush') 消息推送
                li.dropdown(class=menu=='recharge' || menu=='rechargeRecord' || menu=='rchgOptRecord' ? 'active':'')
                    a.dropdown-toggle(data-toggle='dropdown' href='#') 充值相关
                        b.caret
                    ul.dropdown-menu
                        li(class=menu=='recharge' ? 'active':'')
                            a(href='/admin/recharge') 后台充值
                        li(class=menu=='rechargeRecord' ? 'active':'')
                            a(href='/admin/rechargeRecord') 后台充值记录
                        li(class=menu=='rchgOptRecord' ? 'active':'')
                            a(href='/admin/rchgOptRecord') 后台充值操作记录
                li(class=menu=='reward' ? 'active':'')
                  a(href='/admin/sendReward') 奖励发放
                li.dropdown(class=menu=='sysMsgRecord' || menu=='msgOptRecord' ? 'active':'')
                  a.dropdown-toggle(data-toggle='dropdown' href='#') 消息相关记录
                    b.caret
                  ul.dropdown-menu
                    li(class=menu=='sysMsgRecord' ? 'active':'')
                      a(href='/admin/sysMsgRecord') 系统消息记录
                    li(class=menu=='msgOptRecord' ? 'active':'')
                      a(href='/admin/msgOptRecord') 消息操作记录
                li.dropdown(class=menu=='playerWastageRateOnLv' || menu=='playerConsumption' ? 'active':'')
                  a.dropdown-toggle(data-toggle='dropdown' href='#') 数据统计
                    b.caret
                  ul.dropdown-menu
                    li(class=menu=='playerWastageRateOnLv' ? 'active':'')
                      a(href='/admin/playerWastageRateOnLv') 等级流失率
                    li(class=menu=='playerConsumption' ? 'active':'')
                      a(href='/admin/playerConsumption') 魔石使用占比
                li(class=menu=='upload' ? 'active':'')
                  a(href='/admin/uploadWCConfig') 世界杯赛果上传
            else if user && user.prvlg_lv === 2
                li(class=menu=='playerWastageRateOnLv' ? 'active':'')
                    a(href='/admin/playerWastageRateOnLv') 等级流失率
                li(class=menu=='playerConsumption' ? 'active':'')
                    a(href='/admin/playerConsumption') 魔石使用占比

          p.navbar-text.navbar-right
            a.navbar-link(href='/logout') 注销
      block content

      hr
      div.footer.well.text-center Copyright© 2014 LeasureGame Inc. 

    block footer  
