extends adminLayout

block head
  script(type='text/javascript', src='/js/cdkey.js')

block content
  div.form-inline(role='form')
    div.form-group
      label.control-label 激活码前缀
      br
      select.form-control(id='cdkeyPrefix')
        option TB1-
        option TB2-
    div.form-group
      label.control-label 开始日期
      input(type='date' class='form-control' id='startDate' placeholder='开始日期')
    div.form-group
      label.control-label 结束日期
      input(type='date' class='form-control' id='endDate' placeholder='结束日期')
    div.form-group
      label.control-label 生成个数
      input(type='number' class='form-control' id='keyQty' placeholder='生成个数')
    div.form-group
      button(id='btnGetCdkey', class='btn btn-default') 生成激活码
  div.alert.hidden(id='msgInfo', style='margin: 10px 50px')
  hr
  div.row
    div.col-sm-12
      table.table
        thead
          tr
            th 激活码
            th 开始日期
            th 结束日期
            th 是否已使用
        tbody
          - each row in rows
            tr(class=row.activate?'success':'')
              td #{row.code}
              td #{row.startDate}
              td #{row.endDate}
              td #{row.activate}
            

        

