extends adminLayout

block head
  style.
    .c-pane {padding: 20px; border-bottom: #ccc 2px solid}
    .s-c-pane {padding: 5px}

block content  
  - var level=0
  mixin loopAttributes(obj, isTopLevel)
    - for v, k in obj
      if Object.prototype.toString.call(v) === '[object Array]' && v.length == 2 && v[0][0] == '#'
        div(class=isTopLevel ? "c-pane" : "s-c-pane", style="padding-left: 20px")
          strong.display-name #{v[0].slice(1)} : 
          if typeof v[1] == 'string' 
            input.data-value(type='text', value='#{v[1]}')
          if typeof v[1] == 'boolean'
            input.data-value(type='checkbox', checked='#{v[1]}')
          if typeof v[1] == 'number'
            input.data-value(type='text', value='#{v[1]}')
          if Object.prototype.toString.call(v[1]) === '[object Array]'
            ul
              - each i in v[1]
                li
                  input.data-value(type='text', value='#{i}')
          if typeof v[1] == 'object'
            +loopAttributes(v[1])

  div.json-data
    +loopAttributes(confData, true)
  br
  div.text-center
    button.btn.btn-primary.btn-lg(id="btn-save-conf-data") 保存配置信息

block footer
  script.
    $(function() {
      $('.btn-save-conf-data').click(function(e) {
        e.preventDefault();

        var jd = {};
        var cpanes = $('.c-pane');
        for (var cp in cpanes) {
          
        }


      });
    });