extends adminLayout

block content
  

  div(class='panel panel-default')
     
    - each v, k in version
    
      div(class='panel-heading')
        strong #{k} 平台版本
        span(class='pull-right')
          a(href='http://www.ksyun.com/product/ks3' target='blank') 金山云存储
      div(class='panel-body')
        div(class='col-md-9')

          form(class='form-horizontal', role='form',  action="/admin/version", method='POST')
            div(class='form-group')
              lable(for='#{k}_version', class='col-sm-2 control-label') 当前版本
              div(class='col-sm-4')
                input(type='text', class='form-control', name='#{k}_version', value='#{v.version}')
              
              lable(for='#{k}_lastVersion', class='col-sm-2 control-label') 上一版本
              div(class='col-sm-4')
                input(type='text', class='form-control', name='#{k}_lastVersion', value='#{v.lastVersion}')
            div(class='form-group')
              lable(for='#{k}_oldestVersion', class='col-sm-2 control-label') 最老版本
              div(class='col-sm-4')
                input(type='text', class='form-control', name='#{k}_oldestVersion', value='#{v.oldestVersion}')
            
              lable(for='#{k}_forceUpdateVersion', class='col-sm-2 control-label') 强制更新版本
              div(class='col-sm-4')
                input(type='text', class='form-control', name='#{k}_forceUpdateVersion', value='#{v.forceUpdateVersion}')

            hr
            div(class='form-group')
              lable(for='#{k}_filename', class='col-sm-2 control-label') 部分更新包
              div(class='col-sm-4')
                input(type='text', class='form-control', name='#{k}_filename', value='#{v.filename}' required)
              lable(for='#{k}_lastFilename', class='col-sm-2 control-label') 全部更新包
              div(class='col-sm-4')
                input(type='text', class='form-control', name='#{k}_lastFilename', value='#{v.lastFilename}')
            div(class='form-group')
              div(class='col-sm-offset-2 col-sm-2')
                button(type='submit', class='btn btn-default btn-block btn-lg') 更新

        div(class='col-md-3')
          a(class='btn btn-primary btn-block', href='/api/#{k}/update/1.0.0') Download #{v.filename}
          a(class='btn btn-primary btn-block', href='/api/#{k}/update/#{v.lastVersion}') Download #{v.lastFilename}